@import "tailwindcss";

:root {
  --bg: #0b0e14;
  --panel: #121722;
}

html,
body {
  background: var(--bg);
  color: #e6e9ef;
}

body {
  font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif;
}

.mono {
  font-family: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas,
    "Liberation Mono", monospace;
}
